<div class="container list" ng-controller="listCtrl">

	<h2>Customers</h2> <br>

	<form class="form-inline">
		<div class="form-group">
			<label for="name">Name:</label><br>
			<input type="text" class="form-control" ng-model="name" placeholder="Name">
		</div>
		
		<div class="form-group">
			<label for="email">Email:</label><br>
			<input type="text" class="form-control" ng-model="email" placeholder="Email">
		</div>

		<div class="form-group">
			<label for="city">City:</label><br>
			<input type="text" class="form-control" ng-model="city" placeholder="City">
		</div>

		<button class="btn btn-primary" ng-click="add()" ng-disabled="!name || !city || !email">Add Customer</button>
	</form>

	<hr>

	<div class="card" ng-repeat="customer in customers | orderBy: 'name'">
		<div class="card-block">
			<h4 class="card-title">{{customer.name}}</h4>
			<p class="card-text">{{customer.city}}</p>
			<a href="#!/editcustomer/{{customer.id}}" class="btn btn-info">More Details</a>
		</div>
	</div>

</div>