.logo {
	width: 35px;
    height: 35px;
    margin-top: 11px;
}

.menu {
	margin-left: 10px;
	font-size: 20px;
	padding-top: 5px;
}

.card {
	border-bottom: 2px solid;
	width: 20rem;
	display: inline-block;
	padding-bottom: 10px;
	margin-right: 25px;
}

.list .form-inline {
	margin-bottom: 30px;
}

.list .form-inline .form-group {
	margin-right: 20px;
}

.list .form-inline button {
	margin-top: 25px;
}

.edit .form-control {
	max-width: 500px;
}

td a {
	text-decoration: underline;
}

.thead:hover {
	cursor: pointer;
}

table {
	margin-top: 30px;
}

.navbar {
	min-height: 62px;
}

.cont-form {
	margin-top: 25px;
}


/*Animation:*/

ng-view.ng-enter, ng-view.ng-leave {
	transition: 0.3s linear all;
	position: fixed;
	left: 0;
	top: 82px;
	width: 100%;
}

ng-view.ng-enter {
	transform: translateX(100%);
}

ng-view.ng-leave, ng-view.ng-enter.ng-enter-active {
	opacity: 1;
}

ng-view.ng-leave.ng-leave-active {
	opacity: 0;
}


/*Responsive Styles*/

@media screen and (max-width: 769px) {
    .menu {
    	display: flex;
    	margin-left: 27px;
    }

    nav div.container {
    	display: flex;
    }
}